body {
  box-sizing: border-box;
  font-family: 'Roboto';
  background-color: rgb(250, 249, 250);
  color: rgb(95, 65, 176)
}

#welcome {
  display: flex;
  justify-content: center;
  font-size: 6em;
  text-align: center;
}
#search {
  box-sizing: border-box;
  margin-bottom: 0em;
  font-size: 1.2em;
}

#chips {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: .75em;
}

#heading {
  margin-right: 2em;
}

.channel {
  margin-bottom: 1em;
}

.chat {
  margin-left: 1em;
}

.chat-toggle-heading {
  margin-left: 1em;
}

.add-button {
  margin-left: 1em;
}

.single-channel {
  border-style: solid;
}

